.admin-header {
  margin-top: 1rem;
  padding: 0.7rem 0;
  background-color: #eee;
  text-align: center;
  font-weight: bold;
  color: #555;
}

#manage-events-page-header,
#manage-race-page-header {
  text-align: left;
}

#has-current-event-warning {
  border: none;
  padding: 0.75rem 1.25rem 0 1.25rem !important;
}

.event-container-header {
  background-color: #ddd;
  text-align: center;
  font-weight: bold;
  color: black;
}

#events-list-container,
#current-event-container,
#page-btns-container,
#view-all-events-header {
  margin: 0 auto !important;
  width: 90% !important;
}

#current-event-container,
#create-event-container {
  display: none;
}

#current-event-container {
  margin-bottom: 1rem !important;
}

#page-btns-container {
  display: flex;
  padding-bottom: 4rem;
}

.page-control-btn {
  font-size: 0.9rem;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.event-title {
  font-size: 1.2rem;
}

.black-btn {
  text-decoration: none !important;
  font-size: 1rem;
  border: 2px solid black;
  background-color: black;
  color: white !important;
  padding: 0.4rem 1.2rem 0.2rem;
  cursor: pointer;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 0;
}

.black-btn:hover {
  color: black !important;
  background-color: white;
}

#race-done-container {
  display: flex;
  justify-content: center;
}

#race-done {
  padding-bottom: 0.4rem;
}

.padded-top-header {
  padding-top: 1rem;
}

.font-lighter {
  font-weight: 300;
}

#races-list {
  margin-bottom: 2rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.race-btns {
  display: flex;
  gap: 1rem;
}

.current-event-controls {
  display: flex;
}

#admin-close-event-btn {
  background-color: white;
  color: black !important;
  margin-right: 0.5rem;
}

#admin-close-event-btn:hover {
  background-color: black;
  color: white !important;
}

#add-race-container {
  display: none;
}

#add-race-container p {
  text-align: center;
}

#add-race-container p a,
#add-horse-container p a {
  margin-right: 1rem;
}

#current-race {
  display: flex;
  justify-content: space-between;
}

#current-race .checkbox-container {
  margin-left: 1rem;
}

#number-horses {
  padding: 0.5rem;
  width: 40%;
}

#remove-hint {
  display: none;
}

#horses {
  margin-bottom: 1rem;
}

.horse {
  display: flex;
  margin-bottom: 0.8rem;
}

.horse input {
  margin-right: 1rem;
}

.horse .black-btn {
  display: flex;
  align-items: center;
}

.horse .black-btn i {
  margin-right: 0.5rem;
}

.error {
  border: 2px solid red;
}

#race {
  max-width: 560px;
  margin: 0 auto;
}

.black-btn.outlined-btn {
  border: 2px solid black !important;
  background-color: white !important;
  color: black !important;
}

.black-btn.black-btn.outlined-btn:hover {
  color: white !important;
  background-color: black !important;
}

.board-blank {
  opacity: 0;
}

.custom-alert {
  position: absolute;
  top: 80px;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 300px;
  text-align: center;
}

.contain-width {
  width: 95%;
  min-width: 95%;
  max-width: 95%;
  margin: 0 auto;
}

.header-blurred {
  backdrop-filter: blur(20px);
}

.board-wrapper {
  display: flex;
}

.control-btn {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 4rem;
  color: black !important;
}

.control-btn:active,
.control-btn:focus,
.control-btn:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.dim {
  color: #ccc !important;
}

.gold {
  color: gold !important;
}

.silver {
  color: silver !important;
}

.bronze {
  color: #cd7f32 !important;
}

a.btn.green-btn {
  background-color: #28a745 !important;
  color: white !important;
  border-color: #28a745;
}

.edit-race-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
}

.scoreboard > tbody > tr > td > input:disabled {
  -webkit-text-fill-color: orange; /* Override iOS / Android font color change */
  -webkit-opacity: 1; /* Override iOS opacity change affecting text & background color */
  color: orange; /* Override IE font color change */
}

@media screen and (max-width: 720px) {
  .board-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
  }

  .board-wrapper > #message {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  .board-wrapper a:first-of-type {
    grid-row: 2;
  }

  .board-wrapper a:last-of-type {
    grid-row: 2;
  }
}

@media screen and (max-width: 500px) {
  #events-list-container,
  #current-event-container,
  #page-btns-container {
    width: 100% !important;
  }

  main {
    overflow-x: hidden;
  }

  #page-btns-container {
    justify-content: center;
    padding-bottom: 3rem;
  }

  .current-event-controls {
    flex-direction: column;
    text-align: center;
  }

  #admin-close-event-btn {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .race-btns {
    flex-direction: column;
    align-items: center;
  }

  .race-btns .black-btn {
    width: 100%;
    text-align: center;
  }

  .race-btns .black-btn:first-of-type {
    margin: 0 0 1rem 0;
  }

  .event-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .black-btn {
    padding: 0.3rem 0.9rem 0.3rem;
  }
}

/* Loading animation */
#loader-container {
  display: flex;
  justify-content: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ccc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#race-loader {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
}

#race-loader > #loader-container {
  position: relative;
  top: 50%;
}
