html,body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
b,strong {
	font-weight: 600;
}
h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}
/* Bootstrap navbar overrides */
.navbar-nav .active>.nav-link {
	font-weight: 600;
}
.navbar-collapse.collapse.show li.nav-item:first-of-type {
	margin-top: 10px;
}
.navbar-collapse.collapse.show li.nav-item {
	margin-left: 10px;
	border-top: 1px solid rgba(50,50,50,.1);
}
